<div class="jumbotron text-center welcome">

    <h1 class="display-4">Welcome to Scout!</h1>
    <h3>Make the most of your vacation time.</h3>
    <h5>At Scout, we understand that you work hard and your vacation time
        is limited. We combine your preferences with information
        about the costs of traveling to a location to give you a
        ranked list of destinations to consider for your next vacation.
    </h5>

</div>
<div class="jumbotron text-center welcome">
    <div class="row">
        <div class="col-sm-12">
            <h2>Let us help you find your next vacation destination!</h2>
            <%= link_to('Register', new_user_registration_path, :class => "btn btn-primary") %>
            <%= link_to('Login', new_user_session_path, :class => "btn btn-primary") %>
        </div>
    </div>
</div>
