<div class="row">
<div class="center col-sm-12 col-m-6">
    <div class="container">
        <h1 class="header">Scout</h1>
        <h2>Let us help you find your next vacation destination!</h2>
        <%= link_to('Register', new_user_registration_path, :class => "btn btn-primary") %>
        <%= link_to('Login', new_user_session_path, :class => "btn btn-primary") %>
    </div>
</div>
</div>
