<div class="ui menu">
    <% if user_signed_in? %>
        <a class="item"><%= link_to('Edit Account', edit_user_registration_path) %></a>
        <a class="item"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></a>
    <% end%>
</div>
