<% if user_signed_in? %>
<nav class="navbar navbar-expand-sm">
    <%= link_to('Scout', home_dashboard_path, :class => "navbar-brand app_links" ) %>
    <ul class="navbar-nav justify-content-end">
        <li class="nav-item">
            <%= link_to('Edit Account', edit_user_registration_path, :class => "nav-link app_links") %>
        </li>
        <li class="nav-item">
            <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "nav-link app_links") %>
        </li>
    </ul>
</nav>
<% end%>
