<% if user_signed_in? %>
<nav class="navbar navbar-expand-sm bg-light">
    <%= link_to('Scout', home_dashboard_path, :class => "navbar-brand" ) %>
    <ul class="navbar-nav justify-content-end">
        <li class="nav-item">
            <%= link_to('Edit Account', edit_user_registration_path, :class => "nav-link") %>
        </li>
        <li class="nav-item">
            <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "nav-link") %>
        </li>
    </ul>
    <h6>Welcome, <%= current_user.email %></h6>
</nav>
<% end%>
